@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables para modo claro
:root {
    --azul-principal: #667FFF;
    --gris-claro: #F3F4F6;
    --blanco-puro: #FFFFFF;
    --azul-secundario: #647DFF;
    --gris-claro2: #F5F5F6;
    --azul-acento: #748BFE;
    --azul-banner-login: #5E86FF;
}

.dark {
    --azul-principal: #4753FF;
    --gris-claro: #1F2937;
    --blanco-puro: #F9FAFB;
    --azul-secundario: #5369F8;
    --gris-claro2: #374151;
    --azul-acento: #4B6CF7;
    --azul-banner-login: #3B55F7;
} */
html,
body {
    height: 100%;
}
.form-container-ef {
    animation: slideUp 0.6s ease-out;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-field-ef {
    animation: fadeIn 0.4s ease-out forwards;
    opacity: 0;
}

.form-field-ef:nth-child(1) {
    animation-delay: 0.1s;
}

.form-field-ef:nth-child(2) {
    animation-delay: 0.2s;
}

.form-field-ef:nth-child(3) {
    animation-delay: 0.3s;
}

.form-field-ef:nth-child(4) {
    animation-delay: 0.4s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
/* En tu archivo de estilos global (styles.css) */
.skeleton-loader {
    background-color: #e5e7eb !important;
    /* Color gris */
    border-radius: 4px;
    animation: pulse 1.5s ease-in-out infinite;
    display: inline-block;
}

.skeleton-loader.mx-auto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* Estilos para mejorar la visualización */
.bg-blue-50 {
    background-color: #eff6ff;
}

.bg-purple-50 {
    background-color: #faf5ff;
}

.bg-green-50 {
    background-color: #f0fdf4;
}